<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>3U</key>
	<string>川航</string>
	<key>8L</key>
	<string>祥鹏</string>
	<key>9C</key>
	<string>春秋</string>
	<key>AB</key>
	<string>德国柏林航空</string>
	<key>AM</key>
	<string>墨西哥航空</string>
	<key>B7</key>
	<string>立荣航空</string>
	<key>BK</key>
	<string>奥凯</string>
	<key>BR</key>
	<string>长荣航空</string>
	<key>CA</key>
	<string>国航</string>
	<key>CI</key>
	<string>中华航空</string>
	<key>CN</key>
	<string>大新华</string>
	<key>CX</key>
	<string>国泰</string>
	<key>CZ</key>
	<string>南航</string>
	<key>DL</key>
	<string>达美航空</string>
	<key>ET</key>
	<string>埃塞俄比亚航空</string>
	<key>EU</key>
	<string>成都</string>
	<key>FM</key>
	<string>上航</string>
	<key>FV</key>
	<string>俄罗斯国家航空</string>
	<key>G5</key>
	<string>华夏</string>
	<key>GS</key>
	<string>天津</string>
	<key>HO</key>
	<string>吉祥</string>
	<key>HU</key>
	<string>海航</string>
	<key>HX</key>
	<string>香港</string>
	<key>IY</key>
	<string>也门航空</string>
	<key>J2</key>
	<string>阿塞拜疆航空</string>
	<key>JD</key>
	<string>首航</string>
	<key>JR</key>
	<string>幸福</string>
	<key>KA</key>
	<string>港龙</string>
	<key>KN</key>
	<string>联航</string>
	<key>KQ</key>
	<string>肯尼亚航空</string>
	<key>KY</key>
	<string>昆航</string>
	<key>LO</key>
	<string>波兰航空</string>
	<key>MD</key>
	<string>马达加斯加航空</string>
	<key>MF</key>
	<string>厦航</string>
	<key>MH</key>
	<string>马来西亚航空</string>
	<key>MU</key>
	<string>东航</string>
	<key>NS</key>
	<string>河北</string>
	<key>NX</key>
	<string>澳门航空</string>
	<key>OM</key>
	<string>蒙古航空</string>
	<key>OQ</key>
	<string>重庆</string>
	<key>OZ</key>
	<string>韩亚航空</string>
	<key>PG</key>
	<string>曼谷航空</string>
	<key>PN</key>
	<string>西部</string>
	<key>QR</key>
	<string>卡塔尔航空</string>
	<key>S7</key>
	<string>西伯利亚航空</string>
	<key>SC</key>
	<string>山航</string>
	<key>TG</key>
	<string>泰国航空</string>
	<key>TV</key>
	<string>西藏航空</string>
	<key>UM</key>
	<string>津巴布韦航空</string>
	<key>UN</key>
	<string>俄罗斯联邦洲际航空</string>
	<key>UO</key>
	<string>香港快运</string>
	<key>VN</key>
	<string>越南航空</string>
	<key>VV</key>
	<string>乌克兰航空</string>
	<key>XF</key>
	<string>海参崴航空</string>
	<key>ZH</key>
	<string>深航</string>
</dict>
</plist>
